body,
html,
#root {
  height: 100%;
}

rect {
  cursor: pointer;
  fill: white;
  overflow: hidden;
  stroke: silver;
  width: 140px;
  height: 186px;
  stroke-width: 2;
}
/* .modal-inner{
  overflow: auto;
} */
line {
  fill: none;
  stroke: silver;
  width: 40px;
  height: 2px;
  stroke-width: 2;
}
.button-panel{
  margin-left: 8px;
  gap: 20px;
}
path {
  fill: none;
  stroke: silver;
  stroke-width: 2;
}
.container-drag {
  border: 3px solid gray;
  width: calc(96vw);
  height: calc(100vh - 176px);
  cursor: grab;
  overflow: auto;
}
.modal-row {
  font-size: 24px;
  font-weight: 500;
  padding: 6px 0;
}
.title-text {
  font-size: 30px;
  font-weight: 600;
  padding: 6px 0;
}
.family-card-button {
  font-size: 24px;
  font-weight: 500;
  padding: 6px;
  margin-top: auto;
}
.card-body-tree {
  min-height: 260px;
  width: 100%;
  flex-direction: column;
  display: flex;

}
.modal-inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.family-cards-inner {
  flex-wrap: wrap;
  padding: 20px;
  display: flex;
  gap: 20px;

}
.inside-title{
  margin-left: 20px;
}
.family-tree-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 100%;
  min-width: 280px;
}
.family-create-button {
  width: 260px;
}
.tree-card {
}
.image-modal {
  margin: 0 auto;
  border-radius: 12px;
}
.modal-row span {
  font-weight: 700 !important;
}
.modal-row input {
  padding: 6px;
  font-size: 24px;
}
text {
  cursor: pointer;
  dominant-baseline: middle;
  text-anchor: middle;
}
.img-card {
  pointer-events: none;
  clip-path: inset(0% round 50%);
}
.bigger {
  pointer-events: none;
  font-size: 22px;
  font-weight: 500;
}
.img-card {
  cursor: pointer;
}
.hide {
  visibility: hidden;
}

.transform-component-module_content__FBWxo {
  overflow: auto;
  width: calc(96vw);
  height: calc(100vh - 176px);
}
.class_b-container {


}


/* .change{
  display: none;
  opacity: 0 ;
  visibility: hidden;

}
.change.active{
  z-index: 100;
} */
