/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(13, 17, 23);
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

h1,
h3,
h4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.8);
}
p {
  font-size: 1rem;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.8);
}
.title{
  line-height: 20px;
  width: 100%;
  margin-bottom: -16px !important;
}
#X {
  color: white;
  font-weight: 700;
}
.top{
  margin-bottom: 10px !important;
  font-weight: 700;
}
.container {
  position: relative;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  gap: 20px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto 40px auto;
}

.calendar-container {
  width: 100%;
  position: relative;
  flex: 1;
  max-width: 500px;
  margin-right: 1rem;
}

.event-container {
  width: 100%;
  flex: 1;
  max-width: 500px;
}

.react-calendar {
  width: 100%;
  max-width: 500px;
  /* background: rgba(255, 255, 255, 0.9); */
  border: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  transition: background-color 0.2s;
}

.react-calendar--doubleView {
  width: 100%;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: rgb(110, 64, 201);
}

.react-calendar__month-view__days__day--neighboringMonth {
  pointer-events: none;
  cursor: default;
  color: #757575 !important;
  font-weight: 400 !important;
}
.react-calendar__month-view__days__day--neighboringMonth.event-marked,
.react-calendar__month-view__days__day--neighboringMonth.selected {
  background-color: rgba(110, 64, 201,0.8) !important;
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: rgb(77, 204, 87)
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: rgb(77, 204, 87)
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: rgb(110, 64, 201);
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: rgb(110, 64, 201);
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.event-form {
  margin-left: 32px;
width: 100%;
max-width: 414px;
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;

}

.event-form h2 {
  margin-bottom: 10px;
  color: rgb(110, 64, 201);
}

.event-form p {
  font-size: 1.2rem;
  color: rgb(110, 64, 201);
}

.event-form input {
  font-size: 16px !important;
  line-height: 24px !important;
  padding: 8px;
  font-size: 1rem;
  margin-right: 10px;
}
.search-input {
  font-weight: 700;
  color: rgb(13, 17, 23);
  padding: 0.9rem 1.5rem;
  background-color: rgb(255, 255, 255);
  font-size: 16px !important;
  line-height: 1 !important;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  max-height: 44px;
  max-width: 160px;
}

.search-button {
  max-height: 44px;
  opacity: 1;
  padding: 0.9rem 1.5rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background-color: rgb(110, 64, 201);
  color: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: opacity 0.2s;
  max-width: 160px;
}
.create-btn{
  opacity: 1;
  padding: 0.9rem 1.5rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background-color: rgb(110, 64, 201);
  color: white;
  border-radius: 6px;
  transition: opacity 0.2s;

}
.delete-btn{
  opacity: 1;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  background-color: rgb(110, 64, 201);
  color: white;
  border-radius: 6px;
  transition: opacity 0.2s;
}
.create-btn:hover,
.search-button:hover,
.delete-btn:hover {
  opacity: 0.9;
}
.create-btn:active,
.search-button:active,
.delete-btn:active {
  opacity: 0.8;
}

.event-list {
  margin-top: 20px;
}

.event-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-card {
  width: 100%;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 10px 30px;
  cursor: pointer;
}


.event-card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.event-date {
  font-size: 1.2rem;
  color: rgb(110, 64, 201);
}

.event-actions {

  display: flex;
  gap: 10px;

}



.event-card-body {
  padding-bottom: 10px;
}

.event-title {
  font-size: 1.5rem;
  color: rgb(110, 64, 201);
}

.selected {
  background-color: rgb(64, 13, 167) !important;
  color: white;
}

.event-marked {
  background-color: rgb(110, 64, 201);
  color: white;
}

.react-calendar__month-view__days__day--weekend.event-marked{
  color: rgb(77, 204, 87);
}
.react-calendar__navigation__label__labelText--from,.react-calendar__month-view__weekdays__weekday{
  color: rgb(13, 17, 23);
}
.total-inner {
  position: absolute;
  top: 630px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px 40px 40px 0;
  width: 100%;
  max-width: 460px;
  border: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px 30px;
  transition: background-color 0.2s;
}

.total-top{
  gap: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
.total-price{
  line-height: 20px;
margin-bottom: 16px;
}

.selected-date {
  color: white !important;
  margin-bottom: 0 !important;
}
.search {
  display: flex;
  margin-bottom: 30px;
}
.react-calendar__navigation__arrow {
  display: none;
}
.react-calendar__navigation__label {
  max-width: 200px;
  margin: 0 auto;
}
.react-calendar__navigation {
  justify-content: center;
}
.react-calendar__navigation__label__labelText,abbr{
  font-weight: 600;

}

.left-arrow {
  padding: 12px;
  position: absolute;
  top: 26px;
  left: 32px;
  width: 15px;
  height: 15px;
  border-top: 4px solid rgb(13, 17, 23) !important;
  border-right: 4px solid rgb(13, 17, 23)!important;
  margin: 16px 0 0 10px;
  transform: rotate(-135deg);
  display: inline-block;
  transition: 1s;
}
.right-arrow {
  padding: 12px;
  position: absolute;
  top: 26px;
  right: 42px;
  width: 15px;
  height: 15px;
  border-top: 4px solid rgb(13, 17, 23) !important;
  border-right: 4px solid rgb(13, 17, 23) !important;
  margin: 16px 0 0 10px;
  transform: rotate(45deg);
  display: inline-block;
  transition: 1s;
}
.react-calendar__tile {
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;
}
.hour0::after {
  top: 1px;
  left: 0px;
  right: 0;
  position: absolute;
  display: block;
  scale: 0.5;
  content: "\2B50";
}
.hour1::after {
  top: 1px;
  left: 0px;
  right: 0;
  position: absolute;
  display: block;
  scale: 0.5;
  content: "\2B50\2B50";
}
.hour2::after {
  top: 1px;
  left: 0px;
  right: 0;
  position: absolute;
  display: block;
  scale: 0.5;
  content: "\2B50 \2B50 \2B50";
}

@media (max-width: 400px) {
  .hour2::after {
    top: 1px;
    left: -7px;
    right: 0;
    position: absolute;
    display: block;
    scale: 0.5;
    content: "\2B50 \2B50 \2B50";
  }
}

@media (max-width: 485px) {
 .event-form{
  margin-left: 16px;
 }
 .create-btn{
  padding: 0.8;
  font-size: 14px;
 }
}
@media (max-width: 465px) {
  .event-form{
   margin-left: 0;
  }
  .search-button,.search-input,.create-btn{
    padding-left: 8px;
    padding-right: 8px;
  }
  .search-input{
    max-width: 142px;
  }
 }
 .bottom{

}
 @media (max-width: 400px) {
  .event-actions{
    gap: 6px;
  }
  .delete-btn{
   font-size: 14px;
   padding: 8px;
  }
  .search-input{
    max-width: 120px;
  }
 }
.delete-items{
  max-height: 44px;
  margin-bottom: 20px;
}
.current{
  justify-content: space-between;
}
@media  (max-width : 320px) {
  .hour0::after,.hour1::after ,.hour2::after{
    scale: 0.2 !important;
  } 
}

@media  (max-width : 480px) {
  .hour0::after,.hour1::after ,.hour2::after{
    scale: 0.3;
  } 
}

